In [7]:
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

22/03/23 11:46:20 WARN Utils: Your hostname, baghaein-ui-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.255.15.104 instead (on interface en0)
22/03/23 11:46:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/23 11:46:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/23 11:46:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [14]:
## read the dataset
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [16]:
### Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

22/03/23 14:32:46 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 2019839 ms exceeds timeout 120000 ms
22/03/23 14:32:46 WARN SparkContext: Killing executors is not supported by current scheduler.

In [17]:
df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema=True)

In [18]:
### Check the Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=10),
 Row(Name='Sudhanshu', Age=30, Experience=8),
 Row(Name='Sunny', Age=29, Experience=4)]

In [21]:
## Selecting a column
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [22]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
+---------+

In [23]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [24]:
## Selecting multiple columns
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [25]:
df_pyspark['Name']  # Unlike pandas, telling us column is all.

Column<'Name'>

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| Age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [32]:
### Adding Columns in spark data frame
## inplace = False와 같다.
df_pyspark = df_pyspark.withColumn('Experience After 2 years',
                      df_pyspark['Experience']+2)

In [33]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [35]:
### Drop columns
# inplace = False와 같다
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [37]:
df_pyspark=df_pyspark.withColumnRenamed('Name', 'New Name')

In [38]:
df_pyspark.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+